@charset "UTF-8";

html,
body {
    height: 100%;
}

.logout-page header {
    height: auto !important;
}

.logout-page .sub-title {
    margin: -10px 0 0;
}

.logout-page #container {
    min-height: 100vh;
}
